body{
  background-color: #efefee;
}
header{
  height: 100px;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
main .container{
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
}
.container .display-container #display{
  box-sizing: border-box;
  height: 150px;
  width: 100%;
  resize: none;
  font-size: 70px;
  border-radius: 10px;
  text-align: end;
  outline: none;
}
.container .buttons-container{
  display: flex;
  margin: 10px 0px 10px 0px;
}
#equals{
  width: 204px;
}
.digits{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.operators-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons-container .button{
  font-size: 60px;
  width: 100px;
  height: 100px;
  border: none;
  margin: 3px;
  background-color: rgb(192, 189, 189);
}

.button:hover{
  background-color: #efefee;
  border: 1px solid black;
  border-radius: 5px;
}
/* FOOTER */
footer{
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: transparent;
  padding: 20px 0;
}
footer img{
  width: 90px;
  height: auto;
}
footer img:hover{
  animation: 1s spin ease;
}
@keyframes spin {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }
}